.caption{
  font-size: 60%;
  color: #aaa;
  padding-bottom: 2em;
}

.right{
  text-align:right;
}

.center{
  text-align:center;
}

.small{
  font-size: 80%;
}

.figure, iframe{
 text-align:center;
 margin:0 auto;
 display: block;
}

.summary > li > a:first-child{
  font-weight:bolder;
  font-size:120%;
  background-color: #DAF7A6 !important;
}